.select2-container{
    width: 100% !important;
}

.input-group{
    margin-bottom: 0px !important;
}

div.dataTables_wrapper div.dataTables_processing {
    display: none !important;
}

.logo {
    width: 20% !important;
    margin-top: 0px !important;
    margin-right: 12px !important;
}

@media screen and (max-width:768px){
    .logo {
        width: 60% !important;
        margin-top: 0px !important;
        margin-left: 6px !important;
    }
}
